@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500i,600i,700i,900i&display=swap');
body
   margin 0
   background-color #1f1f3f
   #root > div
      max-width  500px
      margin 0 auto
      padding 10px 0
      h2 
         font-size 20px
         background-color #14142d 
         padding 32px 40px
         text-transform uppercase
         color #ffffff
         cursor pointer
         box-shadow 0px 9px 15.4px 0.6px rgb(16,16,39,0.34)
         font-family Montserrat
         font-weight 600
   .hidden
      max-height 0
      overflow hidden
      transition .5s
      &.active
         max-height 400px
      p
         margin 0
    