@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500i,600i,700i,900i&display=swap");
body {
  margin: 0;
  background-color: #1f1f3f;
}
body #root > div {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0;
}
body #root > div h2 {
  font-size: 20px;
  background-color: #14142d;
  padding: 32px 40px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 9px 15.4px 0.6px #101027;
  font-family: Montserrat;
  font-weight: 600;
}
body .hidden {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
body .hidden.active {
  max-height: 400px;
}
body .hidden p {
  margin: 0;
}
